In [1]:
# 1.Discuss string slicing and provide examples.

# Ans(1) String slicing in Python is a way to get a part of a string by specifying a range of indices.

# Ex:- 
a = "Hello World"
a[0:5:2]

'Hlo'

In [2]:
# 2. Explain the key features of list in python.

# Ans(2) A list is a versatile, ordered collection of items that can store a variety of data types

# the key features of lists in Python are :-

# (1) Ordered :- Lists maintain the order of elements. When you add items to a list, they retain their position, and you can access them by their index.
# (2) Mutable :- Lists can be changed after their creation. You can add, remove, or modify elements.
# (3) Heterogeneous :- A list can contain items of different data types, including other lists.
# (4) Slicing :- Lists support slicing to access a subset of elements.
# (5) Methods :- Lists have many built-in methods for various operations, such as adding, removing, and sorting elements.
# (6) Iteration :- You can loop through a list to access each element.
# (7) List Comprehensions :- A concise way to create lists

# Ex:- 
list = ["Dhairya", 92, "123"]
list

['Dhairya', 92, '123']

In [6]:
# 3.Describe how to access, modify, and delete elements in a list with examples.

# Ans(3) 

l = ["Banana", "Mango", "Apple", "Orange"]

In [7]:
# Accessing Elements in a List
l[0]
l[2]

'Apple'

In [9]:
# Modifying Elements in a List
l[2] = "hello world"
l

['Banana', 'Mango', 'hello world', 'Orange']

In [20]:
# Deleting Elements in a List
l = ["Banana", "Mango", "Apple", "Orange"]
del l[2]
l.remove("Banana")
l.pop()

'Orange'

In [21]:
# 4. Compare and contrast tuples and lists with examples.
# Ans(4)

In [23]:
# 1. Mutability

# Lists: Can be changed (mutable).
# Tuples: Cannot be changed (immutable).

# Ex:-

In [24]:
l = ["Mango", "Banana"]
l[0] = "Hello"
l

['Hello', 'Banana']

In [26]:
t = (2,3,"dhairya")
t[2] = "Boss"
t

TypeError: 'tuple' object does not support item assignment

In [28]:
# 2. Syntax

# Lists: Created using square brackets [].
# Tuples: Created using parentheses ().
# Ex:-

In [31]:
lis = []
tup = ()
type(lis)

list

In [32]:
type(tup)

tuple

In [33]:
# 4. Methods

# Lists: Many methods for modifying (e.g., append(), remove(), sort()).
# Tuples: Fewer methods (e.g., count(), index()).

In [36]:
# 5. Describe the key features of sets and provide examples of their use.
# Ans(5)

In [38]:
# (1) Unordered Collection: Sets do not maintain any specific order
# Ex:-
my_set = {1,8,0,77,5}
my_set

{0, 1, 5, 8, 77}

In [39]:
# (2) Unique Elements: Sets automatically remove duplicates. Each element is unique.
# Ex:-
my_set = {23,44,23,44}
my_set

{23, 44}

In [41]:
# (3) Mutable: You can add or remove elements from a set.
# Ex:-
my_set = {22,44,23,1,2,3,5}
my_set.add(999)
my_set

{1, 2, 3, 5, 22, 23, 44, 999}

In [44]:
my_set.remove(44)
my_set

{1, 2, 3, 5, 23, 999}

In [1]:
# (4) No Indexing: Since sets are unordered, you cannot access elements using an index.
# Ex:- 
my_set = {"banana", "apple"}
my_set[0]

TypeError: 'set' object is not subscriptable

In [2]:
# (5) Efficient Membership Testing: Sets provide a fast way to check if an item is in the set.
# Ex:- 
my_set = {"Dhairya", 1,3,4,"Boss"}
"Dhairya" in my_set

True

In [6]:
# Set Operations: Sets support operations like union, intersection, difference, and symmetric difference.
# Ex:-
set1 = {"Dhairya", 1,3,4,"Boss"}
set2 = {"Hello", 45,42,"World"}

set1.intersection(set2)
set1.union(set2)
set1.difference(set2)

{1, 3, 4, 'Boss', 'Dhairya'}

In [8]:
# 6. Discuss the use cases of tuples and sets in Python Programming.
# Ans(6) Use Cases of Tuples and Sets in Python

In [9]:
# Tuples

# Use tuples when you have a collection of items that should not change.
# Tuples can hold different types of data together.
# Use tuples as keys in dictionaries since they are immutable.
# Functions can return multiple values using tuples.
# Use tuples for data structures that should remain fixed.


# Sets

# Use sets to store unique items.
# Sets provide a quick way to check if an item is present.
# Perform operations like union, intersection, and difference.
# Convert a list to a set to remove duplicates.
# Use sets to find common items in multiple collections.

In [1]:
# 7. Describe how to add, modify, and delete items in a dictionary with examples.
# Ans(7)

In [2]:
d = {"name":"Dhairya", "Age":17, "course":"Data Science"}
d

{'name': 'Dhairya', 'Age': 17, 'course': 'Data Science'}

In [5]:
# Add
d["gender"] = "male"
d

{'name': 'Dhairya', 'Age': 17, 'course': 'Data Science', 'gender': 'male'}

In [6]:
# modify
d["Age"] = 18
d

{'name': 'Dhairya', 'Age': 18, 'course': 'Data Science', 'gender': 'male'}

In [7]:
del d["gender"]
d

{'name': 'Dhairya', 'Age': 18, 'course': 'Data Science'}

In [8]:
# 8. Describe the importance of dictionary keys being immutable and provide examples.
# Ans(8) In Python, dictionary keys must be immutable. This means once a key is created, it cannot be changed. 
# This is important for several reasons:

In [10]:
# If keys could change, it would be hard to keep track of dictionary items.
# Ex:- 

dic = {"name":"Dhairya", "age":17, "course":"Data Scince"}
dic
dic["name"]

'Dhairya'